<div class="row">
    <div class="col-lg-8 col-md-offset-2">
        <div class="well">
            <form action="/home/add" method="POST">
                <input type="text" name="title" class="form-control" placeholder="Title" />
                <br />
                <textarea rows="20" name="content" class="form-control"></textarea>
                <br />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>